
.mybutton {
  padding: 8px 12px;
  /* margin: 8px; */
  /* font: inherit; */
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  font-weight: bold;;
  --button-color: #ccc;
  background-color: var(--button-color);
  /* background: linear-gradient(to bottom, #d4e702, #dff309); */
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--button-color), black 8%),
    color-mix(in srgb, var(--button-color), white 8%)
  );
  border: 1px solid var(--button-color);
  /* border: 0; */
  border-radius: 4px;
  box-shadow: 1px 1px 2px color-mix(in srgb, var(--button-color), black 40%);
  transition: all ease-out 0.2s;
  cursor: pointer;
}

.mybutton-fancy {
  --button-color: #e4f700;
  margin: 16px 8px;
  border-radius: 60px;
}

.mybutton-table {
  --button-color: #d9e2eb;
  color: #333;
  display: inline-block;
  font-size: 1.4rem;
  overflow: hidden;
  font-weight: normal;
  border-radius: 4px;
  margin: 0px 4px;
  padding: 0;
  width: 2rem;
  height: 2rem;
}

.mybutton:disabled {
  opacity: 0.5;
  cursor: default;
}

.mybutton-delete {
  --button-color: #f4120b;
  color: #fff;
}


.mybutton:hover:not(:disabled) {
  
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--button-color), white 8%),
    color-mix(in srgb, var(--button-color), white 0%)
  );
  /* background-position-y: 50%; */
  /* background: #f700a9; */
  /* color-mix(in srgb, var(--button-color), white 8%); */
}

.mybutton:active:not(:disabled) {
  /* background-color: #f7f700; */
  box-shadow: none;
  transform: translate(1px, 1px);
  box-shadow: 0 0 2px color-mix(in srgb, var(--button-color), black 40%);;
  transition: none;
}

.editable-cell {
  position: relative;
}
.editable-cell > span {
  display: block;
  /* Cell padding */
  padding: 8px;
  margin: -8px;
  cursor: text;
}

.editable-cell input {
  position: absolute;
  top: 4px;
  left: 4px;
  display: block;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border: 0;
  padding: 4px;
  box-sizing: border-box;
  
  /* font-size: 1em;
  font-family: 'Montserrat', sans-serif; */
  font: inherit;
}


.mydialog-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* background-image: url(assets/light-honeycomb.png); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(4px); */
  /* backdrop-filter: saturate(50%); */
  /* acrylic */
  backdrop-filter: saturate(50%);
}

.mydialog-window {
  background-color: #fff;
  /* padding: 16px; */
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  min-width: 60%;
  min-height: 60%;
  max-height: calc(100% - 10px);
  max-width: calc(100% - 10px);
  box-sizing: border-box;
  z-index: 100;

  display: flex;
  flex-direction: column;
  position: relative;
}

.mydialog-titlebar {
  /* background-color: red; */
  padding: 16px;
  display: flex;
  align-items: center;
}

.mydialog-titlebar h2 {
  margin: 0;
  flex: 1;
  /* font-size: 1.2em;
  font-weight: bold; */
  /* color: #fff; */
}


.mydialog-content {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
  margin-bottom: 8px;
}
/* 
thead {
  position: sticky;
  top: 20px;
} */


/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
