version: "3.4"

services:
  splash:
    image: scrapinghub/splash:master
    command: --maxrss 4000
    restart: always
    ports:
      - "127.0.0.1:8050:8050"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8050/_ping"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 40s
  headless_chrome:
    image: browserless/chrome
    restart: always
    ports:
      - "127.0.0.1:3000:3000"
  scrapy:
    # extra_hosts is only required if your need to access an edu-sharing instance on the host that runs docker
    # host.docker.internal points to the ip address of the host docker network interface 
    extra_hosts:
      host.docker.internal: host-gateway
    image: openeduhub/oeh-search-etl:develop
    environment:
      - "SPLASH_URL=http://splash:8050"
      - "CRAWLER=wirlernenonline_spider"
      - "DRY_RUN=False"
      - "EDU_SHARING_BASE_URL=http://host.docker.internal/edu-sharing/"
      - "EDU_SHARING_USERNAME=admin"
      - "EDU_SHARING_PASSWORD=admin"

      
