wheel==0.37.1
image
dateparser==1.1.1
isodate==0.6.1
pyppeteer==1.0.2
html2text~=2020.1.16
scrapy-splash==0.8.0
python-dateutil==2.8.2
python-dotenv==0.20.0
Scrapy==2.6.1
requests==2.28.1
vobject==0.9.6.1
xmltodict~=0.12.0
overrides==3.1.0
jmespath==1.0.0
flake8==5.0.3
pytest==7.1.1
extruct~=0.13.0
lxml~=4.6.3
w3lib~=1.22.0
itemloaders~=1.0.4
Pillow==9.1.0
itemadapter==0.5.0
six==1.16.0
certifi==2021.10.8
urllib3~=1.26.09
playwright==1.24.1
pyOpenSSL==22.0.0