wheel==0.38.4
image
dateparser==1.1.6
isodate==0.6.1
html2text~=2020.1.16
scrapy-splash==0.8.0
python-dateutil==2.8.2
python-dotenv==0.20.0
Scrapy==2.6.3
requests==2.31.0
vobject==0.9.6.1
xmltodict~=0.12.0
overrides==3.1.0
jmespath==1.0.0
flake8==6.0.0
pytest==7.2.1
extruct~=0.13.0
lxml==4.9.2
w3lib~=1.22.0
itemloaders~=1.0.4
Pillow==9.4.0
itemadapter==0.5.0
six==1.16.0
certifi==2022.12.7
urllib3~=1.26.09
playwright==1.30.0
pyOpenSSL==22.1.0
openapi-generator-cli==4.3.1
beautifulsoup4==4.12.2
trafilatura==1.6.1