wheel
image
dateparser==1.0.0
isodate==0.6.0
pyppeteer==0.2.6
html2text~=2020.1.16
scrapy-splash
python-dateutil~=2.8.1
python-dotenv~=0.20.0
Scrapy~=2.6.1
requests~=2.28.0
vobject==0.9.6.1
xmltodict~=0.12.0
overrides==3.1.0
jmespath~=1.0.1
flake8==3.9.1
pytest==6.2.3
extruct~=0.12.0
lxml~=4.9.1
w3lib~=1.22.0
itemloaders~=1.0.4
Pillow~=8.2.0
itemadapter~=0.6.0
six~=1.16.0
certifi~=2022.5.18.1
urllib3~=1.26.9
tqdm~=4.64.0
pytest~=6.2.3
boto3~=1.24.38
openpyxl~=3.0.10
