
async-lru==2.0.4
extruct==0.17.0
html2text==2024.2.26
httpx==0.27.2
importlib-resources==6.4.0
jaraco.collections==5.1.0
langcodes==3.4.0
mypy==1.11.2
overrides==7.7.0
pillow==10.4.0
pip-chill==1.0.3
platformdirs==4.2.2
playwright==1.47.0
pytest==8.3.3
python-dotenv==1.0.1
scrapy @ git+https://github.com/scrapy/scrapy.git@ae967d1c0671b2296e5efd92ef0a9ce02f68f5b3
scrapyd==1.4.3
scrapyd-client==1.2.3
sqlparse==0.5.1
trafilatura==1.9.0
types-beautifulsoup4==4.12.0.20240907
vobject==0.9.7
xmltodict==0.13.0